.description-active-meetup{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.photo-active-meetup{
  max-width: 200px;
  max-height: 200px;
}

.description-active-meetup-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:250px;
  height: 100%;
}

.description-active-meetup h3{
  margin-top:0;
}