.container-section{
  padding:10px;
}

.container-section-flex{
  display: flex;
  justify-content:space-between;
}

.section-right-content{
  margin-top: 20px;
  display: block;
  position: relative;
}