/*
React Style
*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
QTemu Style
*/

.grey-section{
  background: lightgrey;
  margin: 10px;
  padding: 20px;
}

.white-section{
  margin: 10px;
}

.container-section .grey-section{
  margin:0;
}

.next-meetup-title{
  font-weight: bold;
  margin-bottom:5px;
}

.next-meetup-date{
  color: grey;
  margin-bottom:5px;
}

.container-section{
  padding:10px;
}

.container-section-flex{
  display: flex;
  justify-content:space-between;
}

.member-list{
  display: flex;
  justify-content: flex-start;
}

.member-section{
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
}

.active-meetup{
  background: lightgrey;
  display: flex;
  justify-content: flex-start;
}

.photo-member img{
  max-width: 70px;
  max-height: 70px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
}

.profile-member{
  margin-left:20px;
}

.profile-member div{
  margin-bottom:10px;
}

.meetup-box{
  background: lightgrey;
  padding:20px;
  width:25%;
}

.meetup-went-total{
  margin-top:15px;
}

.meetup-view-btn{
  margin-top:35px;
}

.past-meetup-list{
  display: flex;
  justify-content: space-between  ;
}